{% assign file_extension = 'png' %}{% if swatch == blank %}{% else %}{% assign found_option = false %}{% assign is_color = false %}{% assign option_index = 0 %}
{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).on('load', function(){ $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}
{% unless found_option %}{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="half_width_x">
  <div class="header">{{ swatch }}</div>
    <div class="header">Price Per</div>
  </div>
  <div class="spacing_blank"></div>
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
        {% if is_color %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}" title="{{ value }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        {% else %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}">
          <input type="number" class="swatch-qty" name="qty-{{ option_index }}-{{ value | handle }}" value="0" min="0" id="{{ variant.id }}" data-price="{{ variant.price }}">
        </label>
        <div class="half_width">
        <span class="qty-label">{{ value }}</span>
        <span class="qty-price">{{ variant.price| money }}</span>
        </div>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
    <script>
      $('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
</div>
<div class="total_price"></div>
{% endunless %}
{% endif %}
